include ../node_modules/pug-bootstrap/_bootstrap.pug

doctype html
html
  head
    title Crypto's Latest
    link(rel='stylesheet', href='https://bootswatch.com/4/pulse/bootstrap.min.css')
    script( async defer src="https://buttons.github.io/buttons.js")
  body
    block content
